alabaster==0.7.12; python_version >= "3.8" and python_version < "4.0"
appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.8" and platform_system == "Darwin" and python_version < "4.0"
async-generator==1.10; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
attrs==21.2.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
babel==2.9.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0"
backcall==0.2.0; python_version >= "3.8" and python_version < "4.0"
bleach==3.3.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
certifi==2021.5.30; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
cffi==1.14.5; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1" and implementation_name == "pypy"
chardet==4.0.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
click==8.0.1; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.4; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" and python_version < "4.0" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0" and platform_system == "Windows" and python_version < "4.0"
cpymad==1.8.1; python_version >= "3.5"
cycler==0.10.0; python_version >= "3.8" and python_version < "4.0"
decorator==5.0.9; python_version >= "3.8" and python_version < "4.0"
defusedxml==0.7.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
docutils==0.17.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
entrypoints==0.3; python_version >= "3.8" and python_version < "4.0"
fastjsonschema==2.15.1; python_version >= "3.8" and python_version < "4.0"
idna==2.10; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
imagesize==1.2.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0"
importlib-resources==5.1.4; python_version >= "3.6"
ipykernel==5.5.5; python_version >= "3.5"
ipython-genutils==0.2.0; python_version >= "3.8" and python_version < "4.0"
ipython==7.24.0; python_version >= "3.7"
jedi==0.18.0; python_version >= "3.8" and python_version < "4.0"
jinja2==2.11.3; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
jsonschema==3.2.0; python_version >= "3.8" and python_version < "4.0"
jupyter-client==6.2.0; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
jupyter-core==4.7.1; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
jupyterlab-pygments==0.1.2; python_version >= "3.8" and python_version < "4.0"
kiwisolver==1.3.1; python_version >= "3.8" and python_version < "4.0"
lark-parser==0.11.3; python_version >= "3.8" and python_version < "4.0"
lark==0.11.3
latticeconstructor==0.2.1; python_version >= "3.8" and python_version < "4.0"
latticeadaptor==0.3.7; python_version >= "3.8" and python_version < "4.0"
latticejson==0.1.5; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
matplotlib-inline==0.1.2; python_version >= "3.8" and python_version < "4.0"
matplotlib==3.4.2; python_version >= "3.7"
minrpc==0.1.0; python_version >= "3.5"
mistune==0.8.4; python_version >= "3.8" and python_version < "4.0"
nbclient==0.5.3; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
nbconvert==6.0.7; python_version >= "3.8" and python_version < "4.0"
nbformat==5.1.3; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
nbsphinx==0.8.5; python_version >= "3.6"
nest-asyncio==1.5.1; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
numpy==1.20.3; python_version >= "3.8" and python_full_version >= "3.7.1" and python_version < "4.0"
packaging==20.9; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.8" and python_version < "4.0"
pandas==1.2.4; python_full_version >= "3.7.1"
pandoc==1.0.2
pandocfilters==1.4.3; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0"
parso==0.8.2; python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8" and python_version < "4.0"
pickleshare==0.7.5; python_version >= "3.8" and python_version < "4.0"
pillow==8.2.0; python_version >= "3.8" and python_version < "4.0"
ply==3.11; python_version >= "3.8" and python_version < "4.0"
prompt-toolkit==3.0.18; python_full_version >= "3.6.1" and python_version >= "3.8" and python_version < "4.0"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7"
py==1.10.0; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1" and implementation_name == "pypy"
pycparser==2.20; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1" and implementation_name == "pypy"
pygments==2.9.0; python_version >= "3.8" and python_version < "4.0"
pyparsing==2.4.7; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.8" and python_version < "4.0"
pyrsistent==0.17.3; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.1; python_full_version >= "3.7.1" and python_version >= "3.8" and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0") and python_version < "4.0"
pytz==2021.1; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.7.1" and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0")
pywin32==301; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
pyzmq==22.1.0; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
requests==2.25.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
six==1.16.0; python_full_version >= "3.7.1" and python_version >= "3.7" and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0") and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0")
snowballstemmer==2.1.0; python_version >= "3.8" and python_version < "4.0"
sphinx==4.0.2; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.8" and python_version < "4.0"
termcolor==1.1.0
testpath==0.5.0; python_version >= "3.8" and python_version < "4.0"
tornado==6.1; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
traitlets==5.0.5; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1"
urllib3==1.26.5; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.8"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
zipp==3.4.1; python_version < "3.10" and python_version >= "3.6"
